<div style="font-family: arial,helvetica,clean,sans-serif; color: #555">
  <%= RedCloth.new(listing[:description]).to_html if listing[:description] %>
  
  <% if listing[:photos].length > 1 %>
  <p>Click the images to see larger versions hosted on <a href="http://www.flickr.com">flickr</a>.</p>

  <ul style="list-style: none; padding: 0">
    <% listing[:photos].each do |photo| %>
      <li style="display: inline">
        <a href="<%= photo[:url] %>"><img src="<%= photo[:thumbnail_url] %>" style="border: 0"/></a>
      </li>
    <% end %>
  </ul>
  <% end %>
  
  <dl>
    <dt style="display: inline">Dimensions:</dt>
    <dd style="display: inline; margin: 0; color: #000"><%= listing[:dimensions].split('x').collect { |d| "#{d}cm" }.join(' x ' ) %></dd>
    <br/>
    <dt style="display: inline">Weight:</dt>
    <dd style="display: inline; margin: 0; color: #000"><%= listing[:weight] %></dd>
    <br/>
    <dt style="display: inline">Volumetric weight:</dt>
    <dd style="display: inline; margin: 0; color: #000"><%= format("%.2fkg", listing[:volumetric_weight]) %></dd>
  </dl>
</div>
