.yui-t4 #yui-main .yui-b {
  margin-right: 1em;
}
div#ft {
  display: none;
}
.yui-b img.avatar, .yui-b ul.navigation {
  display: none;
}
.navigation {
  display: none;
}
div#hd {
  display: none;
}
#disqus_thread {
  display: none;
}