<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <meta name="microid" content="ff511e16d7108be450fccd6f4611cf8d1d5416d1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="alternate" type="application/rss+xml" title="RSS" href="http://feeds.feedburner.com/DeferredUntilInspirationHits" />
    <link rel="stylesheet" href="/stylesheets/azure.css" media="all" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/print.css" media="print" type="text/css" />
    <link rel="openid.server" href="http://www.myopenid.com/server"/>
    <link rel="openid.delegate" href="http://chrisroos.myopenid.com/"/>
    <title><%= h(day.page_title) %> - deferred until inspiration hits</title>
  </head>

  <body>
  
    <div id="container" class="clearfix">
    
      <div id="header">
        <div id="logo">
          <h1 id="sitename"><a href="/">deferred until inspiration hits</a></h1>
        </div>
      </div>

      <div id="search">
      </div>

      <div id="content" class="clearfix">

        <div id="main">

          <% day.articles.each do |article| %>
            <div class="post">
              <h2>
                <a href="<%= h(article.url) %>"><%= h(article.title) %></a>
              </h2>
              <p class="auth">
                Posted by Chris Roos
                <span class="typo_date" title="<%= article.formatted_published_date %>">
                  <%= article.formatted_published_date %>
                </span>
              </p>
          
              <%= article.body_html %>
            </div>
        
            <p class="meta">
              <% unless article.tags.empty? %>
                Tags 
                <% article.tags.each do |tag| %>
                  <a href="/articles/tag/<%= tag.name %>" rel="tag"><%= tag.display_name %></a>, 
                <% end %>
              <% end %>
            </p>
          <% end %>

        </div>

        <div id="sidebar">

          <div class="sidebar-node">
            <h3>Syndicate</h3>
            <a href="http://feeds.feedburner.com/DeferredUntilInspirationHits" title="Subscribe to my feed, deferred until inspiration hits" rel="alternate" type="application/rss+xml">
              <img src="http://www.feedburner.com/fb/images/pub/feed-icon16x16.png" alt="" style="border:0"/> 
              Subscribe to the feed
            </a>
          </div>

        </div>

        <br clear="all" />

      </div>
    
      <div id="footer">
      </div>

    </div>
  
  </body>

</html>