<VirtualHost *:80>
  ServerAdmin chris@seagul.co.uk
  ServerName apceastkent.co.uk
  ServerAlias www.apceastkent.co.uk
  DocumentRoot /home/chrisroos/www/apceastkent.co.uk/current/public
  <Directory /home/chrisroos/www/apceastkent.co.uk/current/public>
    allow from all
  </Directory>
  ErrorLog /home/chrisroos/www/apceastkent.co.uk/current/log/error_log
  CustomLog /home/chrisroos/www/apceastkent.co.uk/current/log/access_log common
</VirtualHost>