<VirtualHost *:80>
  ServerAdmin chris@seagul.co.uk
  ServerName blog.seagul.co.uk

  ErrorLog /home/chrisroos/www-logs/blog.seagul.co.uk.error
  CustomLog /home/chrisroos/www-logs/blog.seagul.co.uk.access common
  # RewriteLogLevel 3
  RewriteLog /home/chrisroos/www-logs/blog.seagul.co.uk.rewrite
  
  RewriteEngine On
  
  # blog.seagul.co.uk -> chrisroos.co.uk
  RewriteCond %{HTTP_HOST} ^blog.seagul.co.uk$ [NC]
  RewriteRule ^/(.*)$ http://chrisroos.co.uk/$1 [R=301,L]
</VirtualHost>
