<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">

<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/application.css" type="text/css" media="screen" title="Site wide styles" charset="utf-8">
    <title>The local paper</title>
  </head>

  <body>
    <h1>The local paper</h1>
    <%= yield %>
  </body>
</html>