#Options Indexes
RewriteEngine On
RewriteBase /
# Permanently (301) redirect /index.html to / (regex copied from http://www.webmasterworld.com/apache/3155094.htm)
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /.*index\.html\ HTTP/
RewriteRule ^(.*)index\.html$ $1 [R=301,L]
# Permanently (301) remove www.
RewriteCond %{HTTP_HOST} ^www.the-local-paper.co.uk$ [NC]
RewriteRule ^(.*)$ http://the-local-paper.co.uk/$1 [R=301,L]
# Provide a custom (and probably less helpful than the default) 404 error page
ErrorDocument 404 /404.html

# Would like case insensitive urls, or at least 301 redirect to lower case version
# Need to deal with trailing slash / no trailing slash
# Need to deal with www. vs .
# Need to redirect index.html to /
# Need to hide .svn directories
#RewriteRule (.*)([^html])$ $1$2.html [L,NC] # Render anthing.html when anything.<not html (ignoring case)> is requested
#RewriteRule ^(.*)\.html$ /$1 [R=301,L,NC] # Redirect anything.html to anything, ignoring case