<VirtualHost *:80>
  ServerAdmin www-admin@seagul.co.uk
  ServerName permailink.co.uk
  ServerAlias www.permailink.co.uk
  DocumentRoot /u/chrisroos/www/permailink.co.uk/current/public
  <Directory /u/chrisroos/www/permailink.co.uk/current/public>
    AllowOverride All
    allow from all
    Options -Indexes
  </Directory>
  <DirectoryMatch "^/.*/\.svn/">
    ErrorDocument 403 /404.html
    Order allow,deny
    Deny from all
    Satisfy All
  </DirectoryMatch>
  ErrorLog /u/chrisroos/www/permailink.co.uk/shared/log/error_log
  CustomLog /u/chrisroos/www/permailink.co.uk/shared/log/access_log common
  # RewriteLogLevel 3
  RewriteLog /u/chrisroos/www/permailink.co.uk/shared/log/rewrite_log
</VirtualHost>
