<VirtualHost *:80>

  ServerAdmin chris@seagul.co.uk
  ServerName permailink.co.uk
  ServerAlias www.permailink.co.uk
  
  DocumentRoot /home/chrisroos/www/permailink.co.uk/current/public
  <Directory /home/chrisroos/www/permailink.co.uk/current/public>
    AllowOverride All
    allow from all
    Options -Indexes
  </Directory>
  
  <DirectoryMatch "^/.*/\.svn/">
    ErrorDocument 403 /404.html
    Order allow,deny
    Deny from all
    Satisfy All
  </DirectoryMatch>
  
  RewriteEngine On
  
  # Remove www
  RewriteCond %{HTTP_HOST} ^www [NC]
  RewriteRule ^/(.*)$ http://permailink.co.uk/$1 [R=301,L]
  
</VirtualHost>