<VirtualHost *:80>

  ServerAdmin chris@seagul.co.uk
  ServerName seagul.co.uk
  ServerAlias www.seagul.co.uk
  
  RewriteEngine On
  
  # This Is Kent - Thanet news feed
  RewriteRule ^/thisiskent-thanet.atom$ http://thisiskent.seagul.co.uk/thanet.atom [R=301,L]
  
  # Postcodes
  RewriteRule ^/postcodes(.*)$ http://postcodes.seagul.co.uk$1 [R=301,L]
  
  # www.seagul.co.uk -> chrisroos.co.uk
  RewriteCond %{HTTP_HOST} www.seagul.co.uk [NC]
  RewriteRule .* http://chrisroos.co.uk/ [R=301,L]
  
  # seagul.co.uk -> chrisroos.co.uk
  RewriteCond %{HTTP_HOST} ^seagul.co.uk [NC]
  RewriteRule .* http://chrisroos.co.uk/ [R=301,L]
  
</VirtualHost>