<VirtualHost *:80>

  ServerAdmin chris@seagul.co.uk
  ServerName the-local-paper.co.uk
  ServerAlias www.the-local-paper.co.uk
  
  DocumentRoot /home/chrisroos/www/the-local-paper.co.uk/current/public
  <Directory /home/chrisroos/www/the-local-paper.co.uk/current/public>
    AllowOverride All
    Allow from all
  </Directory>
  
  <DirectoryMatch "^/.*/\.svn/">
    ErrorDocument 403 /404.html
    Order allow,deny
    Deny from all
    Satisfy All
  </DirectoryMatch>
  
</VirtualHost>