<VirtualHost *:80>

  ServerAdmin chris@seagul.co.uk
  ServerName permailink.co.uk
  ServerAlias www.permailink.co.uk
  
  DocumentRoot /u/chrisroos/www/permailink.co.uk/current/public
  <Directory /u/chrisroos/www/permailink.co.uk/current/public>
    AllowOverride All
    allow from all
    Options -Indexes
  </Directory>
  
  <DirectoryMatch "^/.*/\.svn/">
    ErrorDocument 403 /404.html
    Order allow,deny
    Deny from all
    Satisfy All
  </DirectoryMatch>
  
</VirtualHost>