<VirtualHost *:80>

  ServerAdmin chris@seagul.co.uk
  ServerName delicious-domain-tags.seagul.co.uk
  
  RewriteEngine On
  
  # Redirect to the addon at addons.mozilla.org
  RewriteCond %{HTTP_HOST} delicious-domain-tags.seagul.co.uk [NC]
  RewriteRule ^/(.*)$ https://addons.mozilla.org/en-US/firefox/addon/11660/ [R=301,L]
  
</VirtualHost>