<VirtualHost *:80>

  ServerAdmin chris@seagul.co.uk
  ServerName the-local-paper.co.uk
  ServerAlias www.the-local-paper.co.uk
  
  DocumentRoot /home/chrisroos/www/the-local-paper.co.uk
  <Directory /home/chrisroos/www/the-local-paper.co.uk>
    AllowOverride All
    Allow from all
  </Directory>
  
  RewriteEngine On
  
  # Remove www
  RewriteCond %{HTTP_HOST} ^www [NC]
  RewriteRule ^/(.*)$ http://the-local-paper.co.uk/$1 [R=301,L]
  
  # Redirect all requests to the index page.
  RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /.+\ HTTP/
  RewriteCond %{REQUEST_URI} !\.css
  RewriteRule ^.*$ / [R=301,L]
  
</VirtualHost>