<VirtualHost *:80>

  ServerAdmin chris@seagul.co.uk
  ServerName postcodes.seagul.co.uk
  
  DocumentRoot /home/chrisroos/www/postcodes.seagul.co.uk/current/public
  <Directory /home/chrisroos/www/postcodes.seagul.co.uk/current/public>
    AllowOverride All
    Allow from all
  </Directory>
  
</VirtualHost>