<VirtualHost *:80>
  ServerAdmin www-admin@seagul.co.uk
  ServerName public-swimming-pools.co.uk
  ServerAlias www.public-swimming-pools.co.uk
  DocumentRoot /home/chrisroos/www/public-swimming-pools.co.uk/current/public
  <Directory /home/chrisroos/www/public-swimming-pools.co.uk/current/public>
    AllowOverride All
    allow from all
  </Directory>
  <DirectoryMatch "^/.*/\.svn/">
    ErrorDocument 403 /404.html
    Order allow,deny
    Deny from all
    Satisfy All
  </DirectoryMatch>
  ErrorLog /home/chrisroos/www/public-swimming-pools.co.uk/current/log/error_log
  CustomLog /home/chrisroos/www/public-swimming-pools.co.uk/current/log/access_log common
  # RewriteLogLevel 3
  RewriteLog /home/chrisroos/www/public-swimming-pools.co.uk/current/log/rewrite_log
</VirtualHost>
