<VirtualHost *:80>

  ServerAdmin chris@seagul.co.uk
  ServerName activeplaces.seagul.co.uk
  
  DocumentRoot /home/chrisroos/apps/activeplaces-web-service/current/public
  <directory "/home/chrisroos/apps/activeplaces-web-service/current/public">
    Order allow,deny
    Allow from all
  </directory>
  
</VirtualHost>