<VirtualHost *:80>
  ServerAdmin chris@seagul.co.uk
  ServerName the-local-paper.co.uk
  ServerAlias www.the-local-paper.co.uk
  DocumentRoot /home/chrisroos/www/the-local-paper.co.uk/current/public
  # Allow us to do cool things in the .htaccess file
  <Directory /home/chrisroos/www/the-local-paper.co.uk/current/public>
    AllowOverride All
    Allow from all
  </Directory>
  # Block access to the .svn directories
  <DirectoryMatch "^/.*/\.svn/">
    ErrorDocument 403 /404.html
    Order allow,deny
    Deny from all
    Satisfy All
  </DirectoryMatch>
  ErrorLog /home/chrisroos/www/the-local-paper.co.uk/current/log/error_log
  CustomLog /home/chrisroos/www/the-local-paper.co.uk/current/log/access_log common
  # RewriteLogLevel 3
  RewriteLog /home/chrisroos/www/the-local-paper.co.uk/current/log/rewrite_log
</VirtualHost>