<VirtualHost *:80>

  ServerAdmin chris@seagul.co.uk
  ServerName chrisroos.co.uk
  ServerAlias www.chrisroos.co.uk

  DocumentRoot /home/chrisroos/www/chrisroos.co.uk
  <Directory /home/chrisroos/www/chrisroos.co.uk>
    AllowOverride All
    allow from all
  </Directory>

  RewriteEngine On
  
  # Remove www
  RewriteCond %{HTTP_HOST} ^www [NC]
  RewriteRule ^/(.*)$ http://chrisroos.co.uk/$1 [R=301,L] 

  # Amazon Wishlist
  RewriteRule ^/amazonwishlist http://www.amazon.co.uk/gp/registry/IO9HVNCPEWGD [R]
  
</VirtualHost>