<VirtualHost *:80>

  ServerAdmin chris@seagul.co.uk
  ServerName delicious-permalinks.seagul.co.uk
  
  RewriteEngine On
  
  # Redirect to the addon at addons.mozilla.org
  RewriteCond %{HTTP_HOST} delicious-permalinks.seagul.co.uk [NC]
  RewriteRule ^/(.*)$ https://addons.mozilla.org/en-US/firefox/addon/11664/ [R=301,L]
  
</VirtualHost>