<VirtualHost *:80>
  ServerAdmin chris@seagul.co.uk
  ServerName tlpa.co.uk
  RewriteEngine On
  RewriteRule ^/$ http://the-local-paper.co.uk/ [R=301,L]
  RewriteRule ^/iotg-8.2.8$ http://the-local-paper.co.uk/isle-of-thanet-gazette/2008/02/08/ [R=301,L]
  RewriteRule ^/tt-12.2.8$ http://the-local-paper.co.uk/thanet-times/2008/02/12/ [R=301,L]
  RewriteRule ^/ta-14.2.8$ http://the-local-paper.co.uk/thanet-adscene/2008/02/14/ [R=301,L]
  RewriteRule ^/iotg-15.2.8$ http://the-local-paper.co.uk/isle-of-thanet-gazette/2008/02/15/ [R=301,L]
</VirtualHost>