<VirtualHost *:80>
  ServerAdmin chris@seagul.co.uk
  ServerName trackbacks.seagul.co.uk
  RewriteEngine On
  RewriteRule (.*) http://localhost:4000$1 [P]
  ErrorLog /home/chrisroos/www-logs/trackbacks.seagul.co.uk.error
  CustomLog /home/chrisroos/www-logs/trackbacks.seagul.co.uk.access common
  # RewriteLogLevel 3
  RewriteLog /home/chrisroos/www-logs/trackbacks.seagul.co.uk.rewrite
</VirtualHost>