<VirtualHost *:80>

  ServerAdmin chris@seagul.co.uk
  ServerName deliciolytics.co.uk
  ServerAlias www.deliciolytics.co.uk
  
  DocumentRoot /home/chrisroos/apps/deliciolytics.co.uk/current/public
  <directory "/home/chrisroos/apps/deliciolytics.co.uk/current/public">
    Order allow,deny
    Allow from all
  </directory>
  
  RewriteEngine On
  
  # Remove www
  RewriteCond %{HTTP_HOST} ^www [NC]
  RewriteRule ^/(.*)$ http://deliciolytics.co.uk/$1 [R=301,L]
  
</VirtualHost>