<VirtualHost *:80>

  ServerAdmin chris@seagul.co.uk
  ServerName postcodes.seagul.co.uk
  
  DocumentRoot /home/chrisroos/www/postcodes.seagul.co.uk/current/public
  <Directory /home/chrisroos/www/postcodes.seagul.co.uk/current/public>
    AllowOverride All
    Allow from all
  </Directory>
  
  ErrorLog /home/chrisroos/www/postcodes.seagul.co.uk/current/log/error_log
  CustomLog /home/chrisroos/www/postcodes.seagul.co.uk/current/log/access_log common
  RewriteLogLevel 3
  RewriteLog /home/chrisroos/www/postcodes.seagul.co.uk/current/log/rewrite_log
  
</VirtualHost>