<VirtualHost *:80>

  ServerAdmin chris@seagul.co.uk
  ServerName apceastkent.co.uk
  ServerAlias www.apceastkent.co.uk
  
  DocumentRoot /home/chrisroos/www/apceastkent.co.uk
  <Directory /home/chrisroos/www/apceastkent.co.uk>
    allow from all
  </Directory>
  
  RewriteEngine On
  
  # Remove the www
  RewriteCond %{HTTP_HOST} ^www [NC]
  RewriteRule ^/(.*)$ http://apceastkent.co.uk/$1 [R=301,L]
  
  # Permanently (301) redirect /index.html to / (regex copied from http://www.webmasterworld.com/apache/3155094.htm)
  RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /.*index\.html\ HTTP/
  RewriteRule ^(.*)index\.html$ $1 [R=301,L]
  
</VirtualHost>