<VirtualHost *:80>
  ServerAdmin chris@seagul.co.uk
  ServerName thanetcommercials.co.uk
  ServerAlias www.thanetcommercials.co.uk
  DocumentRoot /home/chrisroos/www/thanetcommercials.co.uk/current/public
  <Directory /home/chrisroos/www/thanetcommercials.co.uk/current/public>
    AllowOverride All
    allow from all
  </Directory>
  <DirectoryMatch "^/.*/\.svn/">
    ErrorDocument 403 /404.html
    Order allow,deny
    Deny from all
    Satisfy All
  </DirectoryMatch>
  ErrorLog /home/chrisroos/www/thanetcommercials.co.uk/shared/log/error_log
  CustomLog /home/chrisroos/www/thanetcommercials.co.uk/shared/log/access_log common
  # RewriteLogLevel 3
  RewriteLog /home/chrisroos/www/thanetcommercials.co.uk/shared/log/rewrite_log
</VirtualHost>