<VirtualHost *:80>
  ServerName trackbacks.seagul.co.uk
  RewriteEngine On
  RewriteRule (.*) http://localhost:4000$1 [P]
  ErrorLog /home/chrisroos/www/trackbacks.seagul.co.uk/current/log/error_log
  CustomLog /home/chrisroos/www/trackbacks.seagul.co.uk/current/log/access_log common
  # RewriteLogLevel 3
  RewriteLog /home/chrisroos/www/trackbacks.seagul.co.uk/current/log/rewrite_log
</VirtualHost>