%h1 All domains

%ul.domains
  - @domains.each do |domain|
    - if domain.normalised?
      %li.domain= link_to h(domain.domain), domain_path(domain)
    - else
      %li.domain== #{h(domain.domain)} (pending)