<% unless @articles.empty? %>
  <ul class="articles">
    <% @articles.each do |article| %>
      <li class="article">
        <!-- <img src="<%#= article.paper_logo_url" alt="<%#= article.paper_title %> logo" /> -->
        <a href="<%= article %>" rel="article"><%= h(article.title) %></a>
      </li>
    <% end %>
  </ul>
<% end %>