%h1 About

:textile  
  "Delicious":http://delicious.com/ is great but it doesn't provide an easy way to view all bookmarks for a domain.  "Deliciolytics":/ (a play on delicious and analytics) uses a website's "sitemap":http://sitemaps.org/ to build a list of URLs that can be used to query delicious.  The main result is an aggregated list of bookmarks for all URLs specified within a sitemap.  This list is exposed as an "ATOM":http://en.wikipedia.org/wiki/Atom_(standard) feed that you can subscribe to in any atom enabled feed reader.