RewriteEngine On
RewriteBase /

# RewriteRule .* http://foo?request_uri=%{REQUEST_URI}&the_request=%{THE_REQUEST}

# Permanently (301) redirect /<article>.html to /<article>, ensuring that we don't try to redirect index.html to index
RewriteCond %{THE_REQUEST} /articles/[0-9]{4}/[0-9]{2}/[0-9]{2}/.+\.html\ HTTP/
RewriteCond %{THE_REQUEST} !index\.html\ HTTP/
RewriteRule ^(.*)\.html$ $1 [R=301,L]

# If we receive a request for an article without a .html extension then let's rewrite internally to render the file with the .html extension
RewriteCond %{REQUEST_URI} /articles/[0-9]{4}/[0-9]{2}/[0-9]{2}/.+$
RewriteCond %{REQUEST_URI} !\.html$
RewriteRule ^(.*)$ $1.html [L]

# Permanently (301) redirect pages/<page>.html to pages/<page>, ensuring that we don't try to redirect index.html to index
RewriteCond %{THE_REQUEST} /pages/.+\.html\ HTTP/
RewriteCond %{THE_REQUEST} !index\.html\ HTTP/
RewriteRule ^(.*)\.html$ $1 [R=301,L]

# If we receive a request for an page without a .html extension then let's rewrite internally to render the file with the .html extension
RewriteCond %{REQUEST_URI} /pages/.+$
RewriteCond %{REQUEST_URI} !\.html$
RewriteRule ^(.*)$ $1.html [L]

# Permanently (301) redirect articles/ to /
RewriteCond %{THE_REQUEST} /articles/\ HTTP/
RewriteRule ^.*$ / [R=301,L]

# Permanently (301) redirect /index.html to /
RewriteCond %{THE_REQUEST} \ /index\.html\ HTTP/
RewriteRule ^.*$ / [R=301,L]

# Permanently (301) redirect articles/tags/<tag> to articles/tag/<tag>
RewriteCond %{THE_REQUEST} /articles/tags/.*\ HTTP/
RewriteRule ^(.*)/tags/(.*)$ $1/tag/$2 [R=301,L]

# Permanently (301) redirect articles/tag/<tag>/page to articles/tag/<tag>
RewriteCond %{THE_REQUEST} /articles/tag/.+/page.*\ HTTP/
RewriteRule ^(.*)/page.*$ $1 [R=301,L]

# Permanently (301) redirect articles/tag/<tag>.html to articles/tag/<tag>, ensuring that we don't try to redirect index.html to index
RewriteCond %{THE_REQUEST} /articles/tag/.+\.html\ HTTP/
RewriteCond %{THE_REQUEST} !index\.html\ HTTP/
RewriteRule ^(.*)\.html$ $1 [R=301,L]

# If we receive a request for a tag without a .html extension then let's rewrite internally to render the file with the .html extension
RewriteCond %{REQUEST_URI} /articles/tag/.+$
RewriteCond %{REQUEST_URI} !\.html$
RewriteRule ^(.*)$ $1.html [L]

# Permanently (301) redirect articles/<year>/page to articles/<year>
RewriteCond %{THE_REQUEST} /articles/[0-9]{4}/page.*\ HTTP/
RewriteRule ^(.*)/page.*$ $1 [R=301,L]

# Permanently (301) redirect articles/<year>/<month>/page to articles/<year>/<month>
RewriteCond %{THE_REQUEST} /articles/[0-9]{4}/[0-9]{2}/page.*\ HTTP/
RewriteRule ^(.*)/page.*$ $1 [R=301,L]

# Permanently (301) redirect articles/<year>/<one-digit-month> to articles/<year>/<two-digit-month>
RewriteCond %{THE_REQUEST} /articles/[0-9]{4}/[0-9]{1}\ HTTP/
RewriteRule ^(.*)/([0-9]{1})$ $1/0$2 [R=301,L]

# Permanently (301) redirect articles/<year>/<one-digit-month>/page to articles/<year>/<two-digit-month>
RewriteCond %{THE_REQUEST} /articles/[0-9]{4}/[0-9]{1}/page.*\ HTTP/
RewriteRule ^(.*)/([0-9]{1})/page.*$ $1/0$2 [R=301,L]

# Permanently (301) redirect articles/<year>/<month>/<day>/page to articles/<year>/<month>/<day>
RewriteCond %{THE_REQUEST} /articles/[0-9]{4}/[0-9]{2}/[0-9]{2}/page.*\ HTTP/
RewriteRule ^(.*)/page.*$ $1 [R=301,L]

# Permanently (301) redirect /articles/markup_help/5 to http://hobix.com/textile/
RewriteCond %{THE_REQUEST} /articles/markup_help/5\ HTTP/
RewriteRule ^.*$ http://hobix.com/textile/ [R=301,L]