#appscategory {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin: 0px;
	padding: 7px 7px 0px 10px;
	vertical-align: top;
}

#appscategory a {
position:relative;
display:block;
text-decoration: none;
color: #FF0000;
}
#appscategory a:hover {
text-decoration: none;
font-family: Verdana, Arial, Helvetica, sans-serif;
color: #FF0033;
}
#appscategory a:visited {color:FF0000;}

.appsTxt {
font-family: Verdana, Arial, Helvetica, sans-serif;
color: #999999;
font-size: 9px;
vertical-align: top;
margin-bottom: 0em;
margin-top: 0em;
margin-left: 8pt;
}
.appsTxt a:link {
font-family: Verdana, Arial, Helvetica, sans-serif;
color: #999999;
font-size: 9px;
text-decoration: none;

}
.appsTxt a:hover {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 9px;
color: #FF0033;
text-decoration: none;
}
}
.h2left{
    FONT-WEIGHT: bold;
	FONT-SIZE: 11pt;
	COLOR: #FF0000;
	FONT-FAMILY:  Verdana, Arial, Helvetica, sans-serif;
	text-align:left;
    margin-bottom: 0em;
    margin-top: 0em;
	margin-left: 0em;
}
.h3left{
    FONT-WEIGHT:bold;
	FONT-SIZE: 11pt;
	COLOR: #FF0000;
	FONT-FAMILY:  Verdana, Arial, Helvetica, sans-serif;
	text-align:left;
    margin-bottom:0em;
    margin-top:0em;
}
.appsprodimg {
	border: none;
}
.appsprodimg {
	border: none;
}
