#CoreNavigationBar { VISIBILITY: visible; WIDTH: 916px; POSITION: absolute; TOP: 0; HEIGHT: 90px; background-image: url(/store_doc/images/xmas_nav/top_nav_new_logo.jpg); background-position: left top; background-repeat: no-repeat; left: 4pt; }

#LogoLink {
	position: absolute;
	width: 158px;
	height: 51px;
	top: 0px;
	left: 0px;
}

#PhoneLabel {
	position: absolute;
	width: 104px;
	height: 30px;
	top: 31px;
	left: 180px;
}

#MyAccountBut {
	position: absolute;
	width: 120px;
	height: 30px;
	top: 32px;
	left: 480px;
	color:#666666;	
}

#MyAccountBut a{
	text-decoration:none;
	font-weight:normal;
	color:#666666;
}

#MyAccountBut a:hover{
	text-decoration:none;
	font-weight:normal;
	color:#000000;
}

#ViewBasketBut {
	position: absolute;
	width: 120px;
	height: 30px;
	top: 32px;
	left: 600px;
}

#ViewBasketBut a{
	text-decoration:none;
	font-weight:normal;
	color:#666666;
}

#ViewBasketBut a:hover{
	text-decoration:none;
	font-weight:normal;
	color:#000000;
}

#SiteSkin {
	height: 39px;
	width: 916px;
	position: absolute;
	visibility: visible;
	top: 90px;
	background-image: url(/store_doc/images/xmas_nav/site_skin.jpg);
	background-position: left top; 
	background-repeat: no-repeat;
	left: 4pt;
	z-index: 998;
}

#SiteSkinButton {
	position: absolute;
	width: 24px;
	height: 24px;
	top: 99px;
	left: 695px;
	color: #FFFFFF;
	z-index: 999;	
}

#StoreLocatorBut {	
	position: absolute;
	width: 104px;
	top: 68px;
	left: 340px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
}

#StoreLocatorBut a {
	text-decoration: none;
	color: #FFFFFF;	
}

#StoreLocatorBut a:hover {
	text-decoration: underline;
	color: #FFFFFF;	
}

#JargonBusterBut {	
	position: absolute;
	width: 104px;
	top: 68px;
	left: 444px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;	
	color: #FFFFFF;
}

#JargonBusterBut a {
	text-decoration: none;
	color: #FFFFFF;	
}
#JargonBusterBut a:hover {
	text-decoration: underline;
	color: #FFFFFF;	
}

#CustomerServiceBut {	
	position: absolute;
	width: 110px;
	top: 68px;
	left: 548px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;	
	color: #FFFFFF;	
}

#CustomerServiceBut a {
	text-decoration: none;
	color: #FFFFFF;	
}
#CustomerServiceBut a:hover {
	text-decoration: underline;
	color: #FFFFFF;	
}

#HelpBut {	
	position: absolute;
	width: 104px;
	top: 68px;
	left: 670px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;	
	color: #FFFFFF;
}

#HelpBut a {
	text-decoration: none;
	color: #FFFFFF;	
}

#HelpBut a:hover {
	text-decoration: underline;
}

#SearchLabel {
	position: absolute;
	width: 54px;
	top: 68px;
	left: 40px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;	
	color: #FFFFFF;
}

#SearchInput {
	position: absolute;
	width: 168px;
	top: 33px;
	left: 45px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;	
	color: #000000;
	border:thick;
	border-color:#FF0066;
	z-index: 999;
}

#SearchInputBox {
	position: absolute;
	width: 168px;
	top: 33px;
	left: 45px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;	
	color: #000000;
	border:thick;
	border-color:#FF0066;
	z-index: 999;
}

#SearchButton {
	position: absolute;
	width: 24px;
	height: 24px;
	top: 63px;
	left: 270px;
	color: #FFFFFF;
}

#CoreNavigationBar table table  {
	position:relative;
	margin-top:-30px;
	margin-right: 10px;

}



/*
#CoreNavigationBar table form {
	position:relative;
	margin-top:-78px;
	margin-right: 10px;
}
*/

#CoreNavigationBar table form {
	position:absolute;
	top:100px;
	left: 300px;
}
#SubCoreNavigationBar {
	LEFT: 220px; 
	VISIBILITY: hidden; 
	WIDTH: 794px; 
	POSITION: absolute; 
	TOP: 101px; 
	HEIGHT: 21px; 
	BACKGROUND-COLOR: #none;
	z-index:999;
}
#SubNavigationBar {
	LEFT: 22px; 
	MARGIN-BOTTOM: 6px;
	
	WIDTH: 151px; 
	POSITION: absolute; 
	TOP: 136px; 
	BACKGROUND-COLOR: #ffffff;
}
#Main {
	LEFT: 178px; VISIBILITY: visible; WIDTH: 580px; POSITION: absolute; TOP: 136px; BACKGROUND-COLOR: #ffffff;z-index:1;
}
#loginBox {
	LEFT: 160px; VISIBILITY: hidden; WIDTH: 580px; POSITION: absolute; TOP: 136px
}
#MainDouble {
	LEFT: 20px; VISIBILITY: visible; WIDTH: 739px; POSITION: absolute; TOP: 136px
}
P {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Helvetica, sans-serif
}
TD {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Helvetica, sans-serif
}
DIV {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Helvetica, sans-serif
}
H1 {
	DISPLAY: inline; FONT-SIZE: 12px; MARGIN: 0px
}
H2 {
	DISPLAY: inline; FONT-WEIGHT: bold; FONT-SIZE: 24px; MARGIN: 0px; COLOR: #000000; FONT-FAMILY: Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
H3 {
	DISPLAY: inline; FONT-WEIGHT: bold; FONT-SIZE: 12px; MARGIN: 0px; COLOR: #000000; FONT-FAMILY: Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
#MainBody {
	BACKGROUND-POSITION: left 99px; FONT-SIZE: 10px; BACKGROUND-IMAGE: url(/store_doc/images/wheel/main_bg.gif); MARGIN: 0px; COLOR: #000000; BACKGROUND-REPEAT: repeat-y; FONT-FAMILY: Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
#MainDoubleBody {
	BACKGROUND-POSITION: left 99px; FONT-SIZE: 10px; BACKGROUND-IMAGE: url(/store_doc/images/wheel/main_double_bg.gif); MARGIN: 0px; COLOR: #000000; BACKGROUND-REPEAT: repeat-y; FONT-FAMILY: Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
FORM {
	MARGIN: 0px
}
.wh-form-border {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 9px; BORDER-LEFT: #999999 1px solid; COLOR: #000000; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A {
	COLOR: #000000; TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
#Main A {
	COLOR: #000080; TEXT-DECORATION: none
}
#Main A:visited {
	COLOR: #000080; TEXT-DECORATION: none
}
#Main A:link {
	COLOR: #000080; TEXT-DECORATION: none
}
#Main A:hover {
	TEXT-DECORATION: underline
}
#MainDouble A {
	COLOR: #000080; TEXT-DECORATION: none
}
#MainDouble A:visited {
	COLOR: #000080; TEXT-DECORATION: none
}
#MainDouble A:link {
	COLOR: #000080; TEXT-DECORATION: none
}
#MainDouble A:hover {
	TEXT-DECORATION: underline
}
.page-title {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 9px; TEXT-TRANSFORM: uppercase; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.wh-h1 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 9px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
wh-h1-highlight {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 9px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.wh-h1-highlight {
	COLOR: #CC0C0C
}
.wh-h2 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
wh-h2-highlight {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.wh-h2-highlight {
	COLOR: #CC0C0C
}
.wh-username {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 9px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
wh-username-highlight {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 9px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.wh-username-highlight {
	COLOR: #CC0C0C
}
.wh-contblock-title {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; VERTICAL-ALIGN: middle; TEXT-TRANSFORM: uppercase; COLOR: #ffffff
}
.wh-contblock-title-small {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; VERTICAL-ALIGN: middle; TEXT-TRANSFORM: none; COLOR: #ffffff
}
.wh-prod-title {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 10px; VERTICAL-ALIGN: top; PADDING-TOP: 10px
}
.wh-topnav-link {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 9px; 
	/*COLOR: #ffffff;*/
	COLOR: #cc3; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	TEXT-DECORATION: none
}
.wh-topnav-link:hover { color: white; TEXT-DECORATION: underline
 }
#quick_search { FONT-WEIGHT: normal; FONT-SIZE: 9px; WIDTH: 143px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 15px; TEXT-DECORATION: none
; padding: 0 4px; border: solid 1px gray; }

.lhn-body A {
	TEXT-DECORATION: none
}
.lhn-body P {
	MARGIN: 0px
}



.wh-level0 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #666666; TEXT-DECORATION: none;
	border-top: 1px solid #ccc;

}
.wh-level0 A {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #666666; TEXT-DECORATION: none;
	background-image: url(/store_doc/images/arrowLevel0.gif);
	background-position: left;
	background-repeat: no-repeat;
	display:block;
	padding-left:10px;
	PADDING-BOTTOM: 3px; PADDING-TOP: 3px;
}
.wh-level0 A:hover{
	background-image: url(/store_doc/images/arrowLeveRoll.gif);
	background-position: left;
	background-repeat: no-repeat;
text-decoration:none;
background:#DDDDDD;
display:block;

}
/*
.wh-level0 {
	
}
*/
.wh-level0Bullet {
	FONT-WEIGHT: bold;
	FONT-SIZE: 10px;
	PADDING-BOTTOM: 3px;
	PADDING-TOP: 3px;
	border-top: 1px solid #ccc;


}
TD.wh-level0BulletOpen {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; PADDING-BOTTOM: 3px; COLOR: #990099; PADDING-TOP: 3px
}
TR.wh-current0 {
	FONT-WEIGHT: bold
}
.wh-current0 A {
	FONT-WEIGHT: bold
}
.wh-current0 .wh-level0Bullet {
	FONT-WEIGHT: bold
}
TR.wh-current0 {
	PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.wh-current0 .wh-level0Bullet {
	/*PADDING-BOTTOM: 3px; PADDING-TOP: 3px*/
}
.wh-lhnTblTopGap {

	HEIGHT: 0px
}
.wh-level1TopGap {
	HEIGHT: 0px
}
.wh-level1BottomGap {
	HEIGHT: 0px
}
.L2Gap {
	HEIGHT: 0px;
}
.L1 {
	PADDING-RIGHT: 5px; FONT-WEIGHT: bold; COLOR: #666666; TEXT-DECORATION: none
}
.L1 A {
	PADDING-RIGHT: 5px; FONT-WEIGHT: bold; COLOR: #666666; TEXT-DECORATION: none;
	PADDING-BOTTOM: 3px; PADDING-TOP: 3px;
	FONT-SIZE:10px;
    display:block;
}
.L1 a:HOVER {
text-decoration:none;
Background:#dddddd;
display:block;
}

.wh-level1Open A {
	PADDING-RIGHT: 5px; FONT-WEIGHT: bold; COLOR: #666666; TEXT-DECORATION: none
}
.L1 {
	
	padding-left:0px;
	border-top:1px solid #ccc;
	Background:#eeeeee;
   /*width:500px;*/
}
/*
.L1B {
BACKGROUND-IMAGE: url(../../images/wheel/lhn/closed.gif);
width:44px;


}*/
.wh-level1BulletOpen {
	BACKGROUND-IMAGE: url('corenav3/url(')
}

.L1B {


	/*BACKGROUND-POSITION: -33px -15px; BACKGROUND-REPEAT: no-repeat;*/
	background-color:#eee;

	
}
.wh-level1BulletOpen {
	BACKGROUND-POSITION: 3px 6px; BACKGROUND-REPEAT: no-repeat
}
.wh-current1 {
	PADDING-RIGHT: 5px; FONT-WEIGHT: bold; COLOR: #666666
}
.wh-current1 A {
	PADDING-RIGHT: 5px; FONT-WEIGHT: bold; COLOR: #666666
}
.wh-current1 {
	PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.L2 {
	PADDING-RIGHT: 5px; FONT-WEIGHT: normal; COLOR: #333333; BACKGROUND-COLOR: #eeeeee;
}
.L2 A {
	PADDING-RIGHT: 5px; FONT-WEIGHT: normal; COLOR: #333333; BACKGROUND-COLOR: #eeeeee;
	display:block;
}
.L2 {
	PADDING-BOTTOM: 2px; PADDING-TOP: 2px;
	padding-left:15px;
}
.L2B {

	/*BACKGROUND-POSITION: 3px 6px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; BACKGROUND-REPEAT: no-repeat;*/
    background-color:#eee;
	color: #eee;

}
.wh-current {
	PADDING-BOTTOM: 3px; PADDING-TOP: 3px; BACKGROUND-COLOR: #d3d3d3
}
.wh-current A {
	FONT-WEIGHT: bold; COLOR: #333333
}
.lhn-customer-care IMG {  }

.lhn-body P {
	
	border-top: 1px solid #ccc;
	
}
.lhn-body P A {
PADDING-TOP: 3px;padding-bottom:3px;
FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #666666;
PADDING-LEFT: 10px; 
display:block;
}
.lhn-body P A:hover{
text-decoration:none;
background:#DDDDDD;
display:block;
}
#lhn-nav {
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	FONT-SIZE: 10px; 
	MARGIN-BOTTOM: 10px; 
	PADDING-BOTTOM: 0px; 
	WIDTH: 151px; 
	COLOR: #666666; 
	PADDING-TOP: 0px;
	
}
.lhn-block {
	FONT-SIZE: 10px; WIDTH: 132px; 
}

/*
#lhn-nav {
	BACKGROUND-COLOR: #e5e5e5
}
*/
/*
.lhn-body {
	BACKGROUND-COLOR: #e5e5e5
}
.lhn-body {
	BORDER-RIGHT: red 1px solid; BORDER-LEFT: red 1px solid; PADDING-TOP: 4px
}
*/
#lhn-nav {
	BACKGROUND-COLOR: #fff;
}
.lhn-body {
	BACKGROUND-COLOR: #fff;
}
.lhn-body {
	/*BORDER-RIGHT: red 1px solid; 
	BORDER-LEFT: red 1px solid;*/
	PADDING-TOP: 4px;
	margin-left:-8px;
}
.lhn-body table table{
background: #eeeeee;
}
.wh-multi-heading {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.wh-tariff-heading {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; PADDING-TOP: 5px
}
.wh-block-head {
	MARGIN-BOTTOM: 20px; WIDTH: 580px
}
.wh-deal-text {
	PADDING-BOTTOM: 10px; PADDING-TOP: 20px
}
.wh-marketing-text {
	PADDING-BOTTOM: 10px; PADDING-TOP: 20px
}
.L2 {
	DISPLAY: none
}
#defaultMenu {
	DISPLAY: none
}
#multibuyDefault {
	DISPLAY: none
}
#multibuy0 {
	DISPLAY: none
}
#multibuy1 {
	DISPLAY: none
}
#multibuy2 {
	DISPLAY: none
}
#multibuy3 {
	DISPLAY: none
}
#multibuy4 {
	DISPLAY: none
}
#multibuy5 {
	DISPLAY: none
}
#multibuy6 {
	DISPLAY: none
}
#multibuy7 {
	DISPLAY: none
}
#multibuy8 {
	DISPLAY: none
}
#multibuy9 {
	DISPLAY: none
}
#multibuy10 {
	DISPLAY: none
}
#multibuy11 {
	DISPLAY: none
}
#multibuy12 {
	DISPLAY: none
}
#multibuy13 {
	DISPLAY: none
}
#multibuy14 {
	DISPLAY: none
}
#multibuy15 {
	DISPLAY: none
}
#multibuy16 {
	DISPLAY: none
}
#multibuy17 {
	DISPLAY: none
}
#multibuy18 {
	DISPLAY: none
}
#multibuy19 {
	DISPLAY: none
}
#multibuy20 {
	DISPLAY: none
}
#menu0 {
	DISPLAY: none
}
#menu1 {
	DISPLAY: none
}
#menu2 {
	DISPLAY: none
}
#menu3 {
	DISPLAY: none
}
#menu4 {
	DISPLAY: none
}
#menu5 {
	DISPLAY: none
}
#menu6 {
	DISPLAY: none
}
#menu7 {
	DISPLAY: none
}
#menu8 {
	DISPLAY: none
}
#menu9 {
	DISPLAY: none
}
#menu10 {
	DISPLAY: none
}
#menu11 {
	DISPLAY: none
}
#menu12 {
	DISPLAY: none
}
#menu13 {
	DISPLAY: none
}
#menu14 {
	DISPLAY: none
}
#menu15 {
	DISPLAY: none
}
#menu16 {
	DISPLAY: none
}
#menu17 {
	DISPLAY: none
}
#menu18 {
	DISPLAY: none
}
#menu19 {
	DISPLAY: none
}
#menu20 {
	DISPLAY: none
}
#menu21 {
	DISPLAY: none
}
#menu22 {
	DISPLAY: none
}
#menu23 {
	DISPLAY: none
}
#menu24 {
	DISPLAY: none
}
#menu25 {
	DISPLAY: none
}
#menu26 {
	DISPLAY: none
}
#menu27 {
	DISPLAY: none
}
#menu28 {
	DISPLAY: none
}
#menu29 {
	DISPLAY: none
}
#menu30 {
	DISPLAY: none
}
#menu31 {
	DISPLAY: none
}
#menu32 {
	DISPLAY: none
}
#menu33 {
	DISPLAY: none
}
#menu34 {
	DISPLAY: none
}
#menu35 {
	DISPLAY: none
}
#menu36 {
	DISPLAY: none
}
#menu37 {
	DISPLAY: none
}
#menu38 {
	DISPLAY: none
}
#menu39 {
	DISPLAY: none
}
#menu40 {
	DISPLAY: none
}
#menu41 {
	DISPLAY: none
}
#menu42 {
	DISPLAY: none
}
#menu43 {
	DISPLAY: none
}
#menu44 {
	DISPLAY: none
}
#menu45 {
	DISPLAY: none
}
#menu46 {
	DISPLAY: none
}
#menu47 {
	DISPLAY: none
}
#menu48 {
	DISPLAY: none
}
#menu49 {
	DISPLAY: none
}
#menu50 {
	DISPLAY: none
}
#deliveryMessage {
	DISPLAY: none
}
#wh-ctp-progress {
	BACKGROUND-IMAGE: url(/store_doc/images/wheel/ctp/background.gif); WIDTH: 580px
}
#wh-ctp-progress-sub {
	VERTICAL-ALIGN: middle; WIDTH: 580px; PADDING-TOP: 5px; BORDER-BOTTOM: #c9c9c9 1px solid; HEIGHT: 23px
}
.wh-ctp-progress-sub-current {
	FONT-WEIGHT: bold; COLOR: #fd0031
}
.wh-ctp-progress-sub-past {
	COLOR: #999999
}
.wh-basket-title {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; VERTICAL-ALIGN: middle; TEXT-TRANSFORM: uppercase; COLOR: #ffffff
}
#Main .wh-basket-title A {
	FONT-WEIGHT: bold; COLOR: #ffffff
}
#Main .wh-basket-title A:visited {
	FONT-WEIGHT: bold; COLOR: #ffffff
}
#Main .wh-basket-title A:link {
	FONT-WEIGHT: bold; COLOR: #ffffff
}
#Main .wh-basket-title A:active {
	FONT-WEIGHT: bold; COLOR: #ffffff
}
#MainDouble .wh-basket-title A {
	FONT-WEIGHT: bold; COLOR: #ffffff
}
#MainDouble .wh-basket-title A:visited {
	FONT-WEIGHT: bold; COLOR: #ffffff
}
#MainDouble .wh-basket-title A:link {
	FONT-WEIGHT: bold; COLOR: #ffffff
}
#MainDouble .wh-basket-title A:active {
	FONT-WEIGHT: bold; COLOR: #ffffff
}
#Main .wh-contblock-title A {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; TEXT-TRANSFORM: uppercase; COLOR: #ffffff; FONT-FAMILY: Verdana, Helvetica, sans-serif
}
#Main .wh-contblock-title A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; TEXT-TRANSFORM: uppercase; COLOR: #ffffff; FONT-FAMILY: Verdana, Helvetica, sans-serif
}
#Main .wh-contblock-title A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; TEXT-TRANSFORM: uppercase; COLOR: #ffffff; FONT-FAMILY: Verdana, Helvetica, sans-serif
}
#Main .wh-contblock-title A:active {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; TEXT-TRANSFORM: uppercase; COLOR: #ffffff; FONT-FAMILY: Verdana, Helvetica, sans-serif
}
#MainDouble .wh-contblock-title A {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; TEXT-TRANSFORM: uppercase; COLOR: #ffffff; FONT-FAMILY: Verdana, Helvetica, sans-serif
}
#MainDouble .wh-contblock-title A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; TEXT-TRANSFORM: uppercase; COLOR: #ffffff; FONT-FAMILY: Verdana, Helvetica, sans-serif
}
#MainDouble .wh-contblock-title A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; TEXT-TRANSFORM: uppercase; COLOR: #ffffff; FONT-FAMILY: Verdana, Helvetica, sans-serif
}
#MainDouble .wh-contblock-title A:active {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; TEXT-TRANSFORM: uppercase; COLOR: #ffffff; FONT-FAMILY: Verdana, Helvetica, sans-serif
}
#Main .wh-contblock-title-small A {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; TEXT-TRANSFORM: none; COLOR: #ffffff; FONT-FAMILY: Verdana, Helvetica, sans-serif
}
#Main .wh-contblock-title-small A:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; TEXT-TRANSFORM: none; COLOR: #ffffff; FONT-FAMILY: Verdana, Helvetica, sans-serif
}
#Main .wh-contblock-title-small A:link {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; TEXT-TRANSFORM: none; COLOR: #ffffff; FONT-FAMILY: Verdana, Helvetica, sans-serif
}
#Main .wh-contblock-title-small A:active {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; TEXT-TRANSFORM: none; COLOR: #ffffff; FONT-FAMILY: Verdana, Helvetica, sans-serif
}
#MainDouble .wh-contblock-title-small A {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; TEXT-TRANSFORM: none; COLOR: #ffffff; FONT-FAMILY: Verdana, Helvetica, sans-serif
}
#MainDouble .wh-contblock-title-small A:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; TEXT-TRANSFORM: none; COLOR: #ffffff; FONT-FAMILY: Verdana, Helvetica, sans-serif
}
#MainDouble .wh-contblock-title-small A:link {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; TEXT-TRANSFORM: none; COLOR: #ffffff; FONT-FAMILY: Verdana, Helvetica, sans-serif
}
#MainDouble .wh-contblock-title-small A:active {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; TEXT-TRANSFORM: none; COLOR: #ffffff; FONT-FAMILY: Verdana, Helvetica, sans-serif
}
.wh-basket-heading {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; VERTICAL-ALIGN: top; COLOR: #000000; BACKGROUND-COLOR: #fff
}
#MainDouble .wh-basket-delivery {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; VERTICAL-ALIGN: middle; COLOR: #666666; HEIGHT: 40px
}
#MainDouble .wh-basket-delivery A {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; VERTICAL-ALIGN: middle; COLOR: #666666; HEIGHT: 40px
}
#MainDouble .wh-basket-delivery A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; VERTICAL-ALIGN: middle; COLOR: #666666; HEIGHT: 40px
}
#MainDouble .wh-basket-delivery A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; VERTICAL-ALIGN: middle; COLOR: #666666; HEIGHT: 40px
}
#MainDouble .wh-basket-delivery A:active {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; VERTICAL-ALIGN: middle; COLOR: #666666; HEIGHT: 40px
}
#Main .wh-basket-delivery {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; VERTICAL-ALIGN: middle; COLOR: #666666; HEIGHT: 40px
}
#Main .wh-basket-delivery A {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; VERTICAL-ALIGN: middle; COLOR: #666666; HEIGHT: 40px
}
#Main .wh-basket-delivery A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; VERTICAL-ALIGN: middle; COLOR: #666666; HEIGHT: 40px
}
#Main .wh-basket-delivery A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; VERTICAL-ALIGN: middle; COLOR: #666666; HEIGHT: 40px
}
#Main .wh-basket-delivery A:active {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; VERTICAL-ALIGN: middle; COLOR: #666666; HEIGHT: 40px
}
.wh-basket-total {
	MARGIN-TOP: 5px; FONT-WEIGHT: bold; FONT-SIZE: 14px; VERTICAL-ALIGN: bottom; COLOR: #003399; HEIGHT: 30px
}
.wh-basket-highlight {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #003399; TEXT-DECORATION: none
}
.wh-basket-highlight A {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #003399; TEXT-DECORATION: none
}
.wh-basket-highlight A:hover {
	COLOR: #003399; TEXT-DECORATION: underline
}
#Main A .wh-basket-item {
	FONT-WEIGHT: normal; COLOR: #000000; TEXT-DECORATION: none
}
#Main A:hover .wh-basket-item {
	TEXT-DECORATION: underline
}
.wh-basket-select {
	PADDING-LEFT: 1px; FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #000000; PADDING-TOP: 1px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: right; TEXT-DECORATION: none
}
.wh-basket-vert-divide {
	VERTICAL-ALIGN: top
}
.wh-basket-top {
	BACKGROUND-COLOR: #CC0C0C
}
.wh-basket-vert-divide {
	BACKGROUND-COLOR: #CC0C0C
}
.wh-basket-right {
	BORDER-LEFT-COLOR: #CC0C0C; BORDER-BOTTOM-COLOR: #CC0C0C; BORDER-TOP-COLOR: #CC0C0C; BACKGROUND-COLOR: #e5e5e5; BORDER-RIGHT-COLOR: #CC0C0C
}
.wh-basket-base {
	BORDER-LEFT-COLOR: #CC0C0C; BORDER-BOTTOM-COLOR: #CC0C0C; BORDER-TOP-COLOR: #CC0C0C; BACKGROUND-COLOR: #e5e5e5; BORDER-RIGHT-COLOR: #CC0C0C
}
.wh-basket-left {
	BORDER-LEFT-COLOR: #CC0C0C; BORDER-BOTTOM-COLOR: #CC0C0C; BORDER-TOP-COLOR: #CC0C0C; BACKGROUND-COLOR: #e5e5e5; BORDER-RIGHT-COLOR: #CC0C0C
}
.wh-basket-cell {
	BORDER-LEFT-COLOR: #CC0C0C; BORDER-BOTTOM-COLOR: #CC0C0C; BORDER-TOP-COLOR: #CC0C0C; BACKGROUND-COLOR: #e5e5e5; BORDER-RIGHT-COLOR: #CC0C0C
}
.wh-basket-cell {
	BORDER-RIGHT: 1px solid; BORDER-LEFT: 1px solid
}
.wh-basket-base {
	BORDER-BOTTOM: 1px solid
}
.wh-basket-div {
	BACKGROUND-COLOR: #ffffff
}
.wh-basket-item-info {
	BORDER-RIGHT: #CC0C0C 1px solid; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: #e5e5e5
}
.wh-basket-item-prod {
	BORDER-RIGHT: #CC0C0C 1px solid; BACKGROUND-COLOR: #ffffff
}
.wh-basket-item-prod-base {
	BORDER-RIGHT: #CC0C0C 1px solid; BACKGROUND-COLOR: #ffffff
}
.wh-basket-item-prod {
	PADDING-RIGHT: 12px; PADDING-TOP: 10px
}
.wh-basket-item-prod-base {
	BORDER-BOTTOM: #CC0C0C 1px solid
}
.wh-basket-item-title {
	BACKGROUND-COLOR: #ffffff
}
.wh-basket-item-base {
	BORDER-BOTTOM: #CC0C0C 1px solid; BACKGROUND-COLOR: #e5e5e5; cell-padding: 0px
}
#wh-footer {
	PADDING-BOTTOM: 10px; MARGIN: 0px; LINE-HEIGHT: 130%; PADDING-TOP: 20px; TEXT-ALIGN: center; align: center
}
#wh-footer {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #666666; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
#Main #wh-footer A {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #666666; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
#wh-footer {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #666666; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
#wh-footer-bar {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #666666; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
#Main #wh-footer-bar A {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #666666; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
#Main #wh-footer-bar A:link {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #666666; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
#Main #wh-footer .copyright {
	TEXT-DECORATION: underline
}
#Main #wh-footer A:hover {
	TEXT-DECORATION: underline
}
#MainDouble #wh-footer A {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #666666; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
#MainDouble #wh-footer-bar A {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #666666; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
#MainDouble #wh-footer-bar A:link {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #666666; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
#MainDouble #wh-footer .copyright {
	TEXT-DECORATION: underline
}
#MainDouble #wh-footer A:hover {
	TEXT-DECORATION: underline
}
#wh-footer IMG {
	MARGIN-BOTTOM: 3px
}
#wh-footer-bar {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; MARGIN-BOTTOM: 5px; PADDING-BOTTOM: 2px; WIDTH: 450px; PADDING-TOP: 2px; align: center
}
.wh-prod-img {
	VERTICAL-ALIGN: top
}
.wh-prod-img IMG {
	VERTICAL-ALIGN: top
}
.wh-prod-img IMG {
	MARGIN: 10px 3px 0px 0px
}
.wh-buttons {
	VERTICAL-ALIGN: bottom; TEXT-ALIGN: right
}
.wh-buttons IMG {
	MARGIN: 5px 3px 0px 0px
}
#prod-tab-features {
	DISPLAY: none; OVERFLOW: auto; WIDTH: 282px; LINE-HEIGHT: 150%; PADDING-TOP: 10px; HEIGHT: 136px
}
#prod-tab-specs {
	DISPLAY: none; OVERFLOW: auto; WIDTH: 282px; LINE-HEIGHT: 150%; PADDING-TOP: 10px; HEIGHT: 136px
}
#prod-tab-details {
	DISPLAY: none; OVERFLOW: auto; WIDTH: 282px; LINE-HEIGHT: 150%; PADDING-TOP: 10px; HEIGHT: 136px
}
#tariff {
	DISPLAY: block; OVERFLOW: auto; WIDTH: 578px; LINE-HEIGHT: 150%; PADDING-TOP: 10px; HEIGHT: 105px
}
#prod-tab-features {
	DISPLAY: block
}
#prod-tab-features UL {
	MARGIN-BOTTOM: 0px; MARGIN-LEFT: 20px
}
.wh-page-cont { MARGIN-BOTTOM: 20px; WIDTH: 580px
    }
.border-bl {
	BORDER-LEFT: #CC0C0C 1px solid; BORDER-BOTTOM: #CC0C0C 1px solid
}
.border-br {
	BORDER-RIGHT: #CC0C0C 1px solid; BORDER-BOTTOM: #CC0C0C 1px solid
}
.wh-contblock-vert-divide {
	VERTICAL-ALIGN: top
}
.wh-contblock-top {
	BACKGROUND-COLOR: #CC0C0C
}
.wh-contblock-top-white {
	BACKGROUND-COLOR: #CC0C0C
}
.wh-contblock-vert-divide {
	BACKGROUND-COLOR: #CC0C0C
}
.wh-contblock-corner {
	BACKGROUND-COLOR: #CC0C0C
}
.wh-contblock-right {
	BORDER-LEFT-COLOR: #CC0C0C; BORDER-BOTTOM-COLOR: #CC0C0C; BORDER-TOP-COLOR: #CC0C0C; BORDER-RIGHT-COLOR: #CC0C0C
}
.wh-contblock-base {
	BORDER-LEFT-COLOR: #CC0C0C; BORDER-BOTTOM-COLOR: #CC0C0C; BORDER-TOP-COLOR: #CC0C0C; BORDER-RIGHT-COLOR: #CC0C0C
}
.wh-contblock-left {
	BORDER-LEFT-COLOR: #CC0C0C; BORDER-BOTTOM-COLOR: #CC0C0C; BORDER-TOP-COLOR: #CC0C0C; BORDER-RIGHT-COLOR: #CC0C0C
}
.wh-contblock-lr {
	BORDER-LEFT-COLOR: #CC0C0C; BORDER-BOTTOM-COLOR: #CC0C0C; BORDER-TOP-COLOR: #CC0C0C; BORDER-RIGHT-COLOR: #CC0C0C
}
.wh-contblock-top-row {
	BORDER-LEFT-COLOR: #CC0C0C; BORDER-BOTTOM-COLOR: #CC0C0C; BORDER-TOP-COLOR: #CC0C0C; BORDER-RIGHT-COLOR: #CC0C0C
}
.wh-contblock-top-row {
	BORDER-TOP: 1px solid
}
.wh-contblock-right {
	BORDER-RIGHT: 1px solid
}
.wh-contblock-lr {
	BORDER-RIGHT: 1px solid
}
.wh-contblock-base {
	BORDER-BOTTOM: 1px solid
}
.wh-contblock-left {
	BORDER-LEFT: 1px solid
}
.wh-contblock-lr {
	BORDER-LEFT: 1px solid
}
.wh-contblock-top-white {
	FONT-WEIGHT: bold; COLOR: #ffffff
}
.wh-contblock-mid {
	BORDER-RIGHT: #CC0C0C 1px solid; BORDER-LEFT: #CC0C0C 1px solid; BORDER-BOTTOM: #CC0C0C 1px solid
}
.wh-prodblock-right {
	COLOR: #ffffff; BACKGROUND-COLOR: #999999
}
.wh-prodblock-left {
	COLOR: #ffffff; BACKGROUND-COLOR: #999999
}
.wh-prodblock-cell {
	COLOR: #ffffff; BACKGROUND-COLOR: #999999
}
.wh-prodblock-right {
	BORDER-LEFT-COLOR: #CC0C0C; BORDER-BOTTOM-COLOR: #CC0C0C; BORDER-TOP-COLOR: #CC0C0C; BORDER-RIGHT-COLOR: #CC0C0C
}
.wh-prodblock-left {
	BORDER-LEFT-COLOR: #CC0C0C; BORDER-BOTTOM-COLOR: #CC0C0C; BORDER-TOP-COLOR: #CC0C0C; BORDER-RIGHT-COLOR: #CC0C0C
}
.wh-prodblock-right {
	BORDER-RIGHT: 1px solid
}
.wh-prodblock-left {
	BORDER-LEFT: 1px solid
}
.wh-prodblock-cell {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.wh-contblock-cell {
	BORDER-RIGHT: #CC0C0C 1px solid; BORDER-LEFT: #CC0C0C 1px solid
}
.wh-contblock-cell-home {
	BORDER-RIGHT: #CC0C0C 1px solid; PADDING-RIGHT: 12px; BORDER-TOP: #CC0C0C 1px solid; PADDING-LEFT: 12px; PADDING-BOTTOM: 16px; BORDER-LEFT: #CC0C0C 1px solid; PADDING-TOP: 16px
}
.wh-contblock-cell-home-2 {
	BORDER-RIGHT: #CC0C0C 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #CC0C0C 1px solid; PADDING-LEFT: 6px; PADDING-BOTTOM: 10px; BORDER-LEFT: #CC0C0C 1px solid; PADDING-TOP: 10px
}
.wh-product-image-cell {
	PADDING-RIGHT: 20px
}
.wh-contblue-vert-divide {
	VERTICAL-ALIGN: top
}
.wh-contblue-top {
	BACKGROUND-COLOR: #cecbce
}
.wh-contblock-vert-divide {
	BACKGROUND-COLOR: #cecbce
}
.wh-contblue-right {
	
}
.wh-contblue-base {
	
}
.wh-contblue-left {
	
}
.wh-contblue-right {
	BORDER-RIGHT: #cecbce 1px solid
}
.wh-contblue-base {
	BORDER-BOTTOM: #cecbce 1px solid
}
.wh-contblue-left {
	BORDER-LEFT: #cecbce 1px solid
}
.wh-cont-red-border-blue {
	BORDER-RIGHT: #CC0C0C 1px solid; PADDING-RIGHT: 0px; PADDING-LEFT: 2px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BACKGROUND-COLOR: #e5e5e5
}
.wh-cont-red-border {
	BORDER-RIGHT: #CC0C0C 1px solid; PADDING-RIGHT: 0px; PADDING-LEFT: 9px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BACKGROUND-COLOR: #ffffff
}
.wh-cont-red-border-blue-left {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #CC0C0C 1px solid; PADDING-TOP: 0px; BACKGROUND-COLOR: #e5e5e5
}
.wh-cont-red-border-left {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #CC0C0C 1px solid; PADDING-TOP: 0px; BACKGROUND-COLOR: #ffffff
}
.wh-cont-red-border-right {
	BORDER-RIGHT: #CC0C0C 1px solid; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: #ffffff
}
.wh-cont-red-border-none {
	BORDER-RIGHT: #CC0C0C 1px solid; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 8px; BACKGROUND-COLOR: #ffffff
}
.wh-cont-red-border-bottom {
	BORDER-RIGHT: #CC0C0C 1px solid; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: #CC0C0C 1px solid; BACKGROUND-COLOR: #ffffff
}
.wh-contblock-base-bback {
	BORDER-BOTTOM: #CC0C0C 1px solid; BACKGROUND-COLOR: #e5e5e5; cell-padding: 0px
}
.blue-back {
	BACKGROUND-COLOR: #e5e5e5
}
.wh-contblock-title-grey {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; VERTICAL-ALIGN: middle; TEXT-TRANSFORM: uppercase; COLOR: #666
}
.wh-contblock-title-low {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; VERTICAL-ALIGN: middle; TEXT-TRANSFORM: lowercase; COLOR: #fff
}
#stockChecktarget {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; DISPLAY: block; BORDER-LEFT: medium none; WIDTH: 295px; BORDER-BOTTOM: medium none; HEIGHT: 30px; BACKGROUND-COLOR: #ffffff
}
#stockCheckMulti {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; DISPLAY: block; VISIBILITY: hidden; BORDER-LEFT: medium none; WIDTH: 1px; BORDER-BOTTOM: medium none; HEIGHT: 1px
}
.wh-multi-stock-check {
	FONT-WEIGHT: bold; COLOR: #CC0C0C
}
.wh-corner-image {
	VISIBILITY: visible
}
.wh-contblock-corner-tl {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: none; VERTICAL-ALIGN: top; BACKGROUND-REPEAT: repeat-y; BACKGROUND-COLOR: #CC0C0C; TEXT-ALIGN: left
}
.wh-contblock-corner-tr {
	BACKGROUND-POSITION: right top; BACKGROUND-IMAGE: none; VERTICAL-ALIGN: top; BACKGROUND-REPEAT: repeat-y; BACKGROUND-COLOR: #CC0C0C; TEXT-ALIGN: right
}
.wh-contblock-corner-bl {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(/store_doc/images/wheel/corners/bgs/contblock_bl.gif); VERTICAL-ALIGN: bottom; BACKGROUND-REPEAT: repeat-y; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
.wh-contblock-corner-br {
	BACKGROUND-POSITION: right top; BACKGROUND-IMAGE: url(/store_doc/images/wheel/corners/bgs/contblock_br.gif); VERTICAL-ALIGN: bottom; BACKGROUND-REPEAT: repeat-y; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: right
}
.wh-basket-corner-tl {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: none; VERTICAL-ALIGN: top; BACKGROUND-REPEAT: repeat-y; BACKGROUND-COLOR: #CC0C0C; TEXT-ALIGN: left
}
.wh-basket-corner-tr {
	BACKGROUND-POSITION: right top; BACKGROUND-IMAGE: none; VERTICAL-ALIGN: top; BACKGROUND-REPEAT: repeat-y; BACKGROUND-COLOR: #CC0C0C; TEXT-ALIGN: right
}
.wh-basket-corner-bl {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(/store_doc/images/wheel/corners/bgs/basket_bl.gif); VERTICAL-ALIGN: bottom; BACKGROUND-REPEAT: repeat-y; BACKGROUND-COLOR: #e5e5e5; TEXT-ALIGN: left
}
.wh-basket-corner-br {
	BACKGROUND-POSITION: right top; BACKGROUND-IMAGE: url(/store_doc/images/wheel/corners/bgs/basket_br.gif); VERTICAL-ALIGN: bottom; BACKGROUND-REPEAT: repeat-y; BACKGROUND-COLOR: #e5e5e5; TEXT-ALIGN: right
}
.wh-contblue-corner-tl {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: none; VERTICAL-ALIGN: top; BACKGROUND-REPEAT: repeat-y; BACKGROUND-COLOR: #cecbce; TEXT-ALIGN: left
}
.wh-contblue-corner-tr {
	BACKGROUND-POSITION: right top; BACKGROUND-IMAGE: none; VERTICAL-ALIGN: top; BACKGROUND-REPEAT: repeat-y; BACKGROUND-COLOR: #cecbce; TEXT-ALIGN: right
}
.wh-contblue-corner-bl {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(/store_doc/images/wheel/corners/bgs/contblue_bl.gif); VERTICAL-ALIGN: bottom; BACKGROUND-REPEAT: repeat-y; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
.wh-contblue-corner-br {
	BACKGROUND-POSITION: right top; BACKGROUND-IMAGE: url(/store_doc/images/wheel/corners/bgs/contblue_br.gif); VERTICAL-ALIGN: bottom; BACKGROUND-REPEAT: repeat-y; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: right
}
.wh-basketitem-corner-tl {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: none; VERTICAL-ALIGN: top; BACKGROUND-REPEAT: repeat-y; BACKGROUND-COLOR: #CC0C0C; TEXT-ALIGN: left
}
.wh-basketitem-corner-tr {
	BACKGROUND-POSITION: right top; BACKGROUND-IMAGE: none; VERTICAL-ALIGN: top; BACKGROUND-REPEAT: repeat-y; BACKGROUND-COLOR: #CC0C0C; TEXT-ALIGN: right
}
.wh-basketitem-corner-bl {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(/store_doc/images/wheel/corners/bgs/basketitem_bl.gif); VERTICAL-ALIGN: bottom; BACKGROUND-REPEAT: repeat-y; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
.wh-basketitem-corner-br {
	BACKGROUND-POSITION: right top; BACKGROUND-IMAGE: url(/store_doc/images/wheel/corners/bgs/basketitem_br.gif); VERTICAL-ALIGN: bottom; BACKGROUND-REPEAT: repeat-y; BACKGROUND-COLOR: #e5e5e5; TEXT-ALIGN: right
}
.wh-multibuy-corner-tl {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: none; VERTICAL-ALIGN: top; BACKGROUND-REPEAT: repeat-y; BACKGROUND-COLOR: #CC0C0C; TEXT-ALIGN: left
}
.wh-multibuy-corner-tr {
	BACKGROUND-POSITION: right top; BACKGROUND-IMAGE: none; VERTICAL-ALIGN: top; BACKGROUND-REPEAT: repeat-y; BACKGROUND-COLOR: #CC0C0C; TEXT-ALIGN: right
}
.wh-multibuy-corner-bl {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(/store_doc/images/wheel/corners/bgs/multibuy_bl.gif); VERTICAL-ALIGN: bottom; BACKGROUND-REPEAT: repeat-y; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
.wh-multibuy-corner-br {
	BACKGROUND-POSITION: right top; BACKGROUND-IMAGE: url(/store_doc/images/wheel/corners/bgs/multibuy_br.gif); VERTICAL-ALIGN: bottom; BACKGROUND-REPEAT: repeat-y; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: right
}
.wh-multibuy-corner-tls {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: none; VERTICAL-ALIGN: top; BACKGROUND-REPEAT: repeat-y; BACKGROUND-COLOR: #CC0C0C; TEXT-ALIGN: left
}
.wh-multibuy-corner-trs {
	BACKGROUND-POSITION: right top; BACKGROUND-IMAGE: none; VERTICAL-ALIGN: top; BACKGROUND-REPEAT: repeat-y; BACKGROUND-COLOR: #CC0C0C; TEXT-ALIGN: right
}
.wh-multibuy-corner-bls {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: none; VERTICAL-ALIGN: bottom; BACKGROUND-REPEAT: repeat-y; BACKGROUND-COLOR: #CC0C0C; TEXT-ALIGN: left
}
.wh-multibuy-corner-brs {
	BACKGROUND-POSITION: right top; BACKGROUND-IMAGE: none; VERTICAL-ALIGN: bottom; BACKGROUND-REPEAT: repeat-y; BACKGROUND-COLOR: #CC0C0C; TEXT-ALIGN: right
}
.wh-rbn-cont {
	PADDING-BOTTOM: 20px
}
.wh-best-seller {
	BORDER-TOP: #CC0C0C 1px solid
}
.wh-cp-title {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; VERTICAL-ALIGN: middle; COLOR: #fff
}
.wh-bs-list-item {
	FONT-SIZE: 10px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.wh-cp-text {
	FONT-SIZE: 9px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.wh-bs-detail {
	COLOR: #CC0C0C
}
.wh-curry-price {
	FONT-WEIGHT: bold; COLOR: #039; LINE-HEIGHT: 200%
}
.wh-we-price {
	FONT-WEIGHT: bold; COLOR: #039; LINE-HEIGHT: 140%
}
.wh-prod-rnb {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 10px; PADDING-BOTTOM: 10px; VERTICAL-ALIGN: middle; PADDING-TOP: 10px
}
.wh-rbn-cont A {
	FONT-SIZE: 9px; COLOR: #039
}
.wh-rbn-cont A:hover {
	COLOR: #CC0C0C
}
.wh-product-line {
	LINE-HEIGHT: 20px
}
.wh-selector-padding {
	PADDING-BOTTOM: 5px
}
.wh-price-was {
	TEXT-TRANSFORM: capitalize
}
.wh-price-save {
	TEXT-TRANSFORM: capitalize; COLOR: #CC0C0C
}
.wh-price-now {
	FONT-WEIGHT: bold; COLOR: #003399
}
.wh-price-chain-large {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; TEXT-TRANSFORM: capitalize; COLOR: #003399
}
.wh-price-chain-medium {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; TEXT-TRANSFORM: capitalize; COLOR: #003399
}
.wh-price-coverplan {
	FONT-SIZE: 10px; COLOR: #999999
}
.wh-promo-text {
	COLOR: #CC0C0C
}
.wh-prod-code {
	FONT-WEIGHT: bold; LINE-HEIGHT: 150%
}
.wh-promo {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
#wh-free-items TD {
	VERTICAL-ALIGN: top
}
#wh-free-items TD P {
	PADDING-TOP: 10px
}
.wh-free-item-info {
	MARGIN: 10px 7px 0px 0px
}
.wh-alternate-row {
	BACKGROUND-COLOR: #e5e5e5
}
.wh-alternate-row-1 {
	BACKGROUND-COLOR: #ffffff
}
.wh-alternate-row-heading {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; TEXT-INDENT: 9px; BACKGROUND-COLOR: #e5e5e5
}
.wh-alternate-row-heading-1 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; TEXT-INDENT: 9px; BACKGROUND-COLOR: #ffffff
}
.wh-alternate-row-tab-spec {
	BACKGROUND-COLOR: #e5e5e5
}
.wh-menu {
	DISPLAY: none; MARGIN-BOTTOM: 20px; MARGIN-LEFT: 0px
}
#wh-terms-conditions {
	BORDER-RIGHT: 2px inset; PADDING-RIGHT: 3px; BORDER-TOP: 2px inset; PADDING-LEFT: 12px; PADDING-BOTTOM: 7px; OVERFLOW: auto; BORDER-LEFT: 2px inset; WIDTH: 580px; PADDING-TOP: 7px; BORDER-BOTTOM: 2px inset; HEIGHT: 57px
}
#direct2004-terms-conditions {
	OVERFLOW: auto; WIDTH: 550px; HEIGHT: 75px
}
.wh-print-block {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #cccccc 1px solid; DISPLAY: none; PADDING-LEFT: 4px; VISIBILITY: hidden; PADDING-BOTTOM: 4px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 580px; PADDING-TOP: 4px; BORDER-BOTTOM: #cccccc 1px solid
}
.dsg-uppercase {
	TEXT-TRANSFORM: uppercase
}
.dsg-lowercase {
	TEXT-TRANSFORM: lowercase
}
.dsg-capitalize {
	TEXT-TRANSFORM: capitalize
}
.dsg-none {
	TEXT-TRANSFORM: none
}
.dsg-prod-list-price-text {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; TEXT-TRANSFORM: capitalize; COLOR: #003399
}
.dsg-prod-list-price {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; TEXT-TRANSFORM: capitalize; COLOR: #003399
}
.dsg-prod-list-was {
	TEXT-TRANSFORM: capitalize
}
.dsg-prod-list-save {
	TEXT-TRANSFORM: capitalize; COLOR: #CC0C0C
}
.cell-shading-on {
	BACKGROUND-COLOR: #e5e5e5
}
.collect-page-cont {
	MARGIN-BOTTOM: 20px; WIDTH: 739px
}
.page-cont-greyed {
	FILTER: alpha(opacity=50); MARGIN-BOTTOM: 20px; WIDTH: 580px; opacity: .5; moz-opacity: .5
}
.warning-red {
	FONT-WEIGHT: bold; COLOR: #CC0C0C
}
.greyed-out {
	FILTER: alpha(opacity=50); opacity: .5; moz-opacity: .5
}
.product-title {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.product_promotion_title {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #CC0C0C; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.product-sku {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.product_desc_title {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
#Main .tab_off {
	FONT-WEIGHT: bold; BACKGROUND-IMAGE: url(/store_doc/images/product_details/tab_double_bg_off.gif); VERTICAL-ALIGN: middle; COLOR: #000000; BACKGROUND-REPEAT: repeat-x
}
#Main .tab_off A {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
#Main .tab_off A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
#Main .tab_off A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
#Main .tab_off A:hover {
	TEXT-DECORATION: underline
}
#Main .tab_on {
	FONT-WEIGHT: bold; BACKGROUND-IMAGE: url(/store_doc/images/product_details/tab_double_bg_on.gif); VERTICAL-ALIGN: middle; COLOR: #ffffff; BACKGROUND-REPEAT: repeat-x
}
#Main .tab_on A {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
#Main .tab_on A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
#Main .tab_on A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
#Main .tab_on A:hover {
	TEXT-DECORATION: underline
}
#Main .product_desc A {
	COLOR: #000000; TEXT-DECORATION: none
}
#Main .product_desc A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
#Main .product_desc A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
#Main .product_desc A:hover {
	TEXT-DECORATION: underline
}
.tab-page-cont {
	MARGIN-BOTTOM: 10px; WIDTH: 580px
}
.product-price-component-top {
	BORDER-TOP: #CC0C0C 1px solid; PADDING-TOP: 4px
}
.product-price-component-mid {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; PADDING-BOTTOM: 2px; COLOR: #000000; PADDING-TOP: 2px; BORDER-BOTTOM: #cccccc 1px solid
}
.product-price-component-bottom {
	PADDING-BOTTOM: 10px; BORDER-BOTTOM: #CC0C0C 1px solid
}
.product-subheading-cell {
	BORDER-TOP: #CC0C0C 1px solid; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; BORDER-BOTTOM: #CC0C0C 1px solid
}
.product-subheading-title {
	FONT-WEIGHT: bold; WIDTH: 100%; COLOR: #CC0C0C
}
.mini_basket_item {
	PADDING-BOTTOM: 10px; WIDTH: 100%
}
.dgeimgtag {
	WIDTH: auto; HEIGHT: auto
}
.product-heading-component {
	BORDER-TOP: #CC0C0C 1px solid; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BORDER-BOTTOM: #CC0C0C 1px solid
}
.product-heading-component-title {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #CC0C0C; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.product-heading-component-sku {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #CC0C0C; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.mini-basket-head {
	BORDER-RIGHT: #CC0C0C 1px solid; PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; PADDING-BOTTOM: 5px; BORDER-LEFT: #CC0C0C 1px solid; WIDTH: 168px; COLOR: #ffffff; PADDING-TOP: 5px; BACKGROUND-COLOR: #CC0C0C
}
.mini-basket-body {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 2px; PADDING-LEFT: 2px; OVERFLOW: auto; BORDER-LEFT: #cccccc 1px solid; WIDTH: 168px; COLOR: #000000; PADDING-TOP: 5px; BORDER-BOTTOM: #cccccc 1px solid; HEIGHT: 100px; BACKGROUND-COLOR: #ffffff
}
#Main .tab-off-centre {
	FONT-WEIGHT: bold; BACKGROUND-IMAGE: url(/store_doc/images/product_details/tab_bg_off.gif); VERTICAL-ALIGN: middle; COLOR: #000000; BACKGROUND-REPEAT: repeat-x; HEIGHT: 29px; TEXT-ALIGN: center
}
#Main .tab-off-left {
	BACKGROUND-IMAGE: url(/store_doc/images/product_details/tab_l_off.gif); WIDTH: 9px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 29px
}
#Main .tab-off-right {
	BACKGROUND-IMAGE: url(/store_doc/images/product_details/tab_r_off.gif); WIDTH: 9px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 29px
}
#Main .tab-off-centre A {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
#Main .tab-off-centre A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
#Main .tab-off-centre A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
#Main .tab-off-centre A:hover {
	COLOR: #000000; TEXT-DECORATION: none
}
#Main .tab-over-centre {
	FONT-WEIGHT: bold; BACKGROUND-IMAGE: url(/store_doc/images/product_details/tab_bg_over.gif); VERTICAL-ALIGN: middle; COLOR: #ffffff; BACKGROUND-REPEAT: repeat-x; HEIGHT: 29px; TEXT-ALIGN: center
}
#Main .tab-over-left {
	BACKGROUND-IMAGE: url(/store_doc/images/product_details/tab_l_over.gif); WIDTH: 9px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 29px
}
#Main .tab-over-right {
	BACKGROUND-IMAGE: url(/store_doc/images/product_details/tab_r_over.gif); WIDTH: 9px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 29px
}
#Main .tab-over-centre A {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #CC0C0C; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
#Main .tab-over-centre A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #CC0C0C; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
#Main .tab-over-centre A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #CC0C0C; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
#Main .tab-over-centre A:hover {
	COLOR: #CC0C0C; TEXT-DECORATION: none
}
#Main .tab-on-centre {
	FONT-WEIGHT: bold; BACKGROUND-IMAGE: url(/store_doc/images/product_details/tab_bg_on.gif); VERTICAL-ALIGN: middle; COLOR: #ffffff; BACKGROUND-REPEAT: repeat-x; HEIGHT: 29px; TEXT-ALIGN: center
}
.product-tabs {
	WIDTH: 580px; BORDER-BOTTOM: #CC0C0C 2px solid
}
.product-tabs-content-side {
	WIDTH: 2px; BACKGROUND-COLOR: #CC0C0C
}
.product-tabs-content-bottom {
	WIDTH: 576px; BORDER-BOTTOM: #CC0C0C 2px solid; HEIGHT: 20px
}
.product-heading-title {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; WIDTH: 100%; COLOR: #cc0c0c
}
.pagenumber-active {
	BORDER-RIGHT: #CC0C0C 1px solid; BORDER-TOP: #CC0C0C 1px solid; FLOAT: left; MARGIN: 2px; BORDER-LEFT: #CC0C0C 1px solid; WIDTH: 20px; BORDER-BOTTOM: #CC0C0C 1px solid; BACKGROUND-COLOR: #e5e5e5; TEXT-ALIGN: center
}
#Main .pagenumber-inactive A {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; FLOAT: left; MARGIN: 2px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 20px; BORDER-BOTTOM: #cccccc 1px solid; TEXT-ALIGN: center
}
.pagenumber-inactive A:visited {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; FLOAT: left; MARGIN: 2px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 20px; BORDER-BOTTOM: #cccccc 1px solid; TEXT-ALIGN: center
}
.pagenumber-inactive A:link {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; FLOAT: left; MARGIN: 2px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 20px; BORDER-BOTTOM: #cccccc 1px solid; TEXT-ALIGN: center
}
#Main .pagenumber-inactive A:hover {
	BORDER-RIGHT: #CC0C0C 1px solid; BORDER-TOP: #CC0C0C 1px solid; FLOAT: left; MARGIN: 2px; BORDER-LEFT: #CC0C0C 1px solid; WIDTH: 20px; BORDER-BOTTOM: #CC0C0C 1px solid; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.error-title {
	FONT-WEIGHT: bold; PADDING-BOTTOM: 3px; COLOR: #CC0C0C
}
.form-field-descrption {
	FONT-SIZE: 9px; COLOR: #999999
}
.delivery-sub-total {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000
}
.delivery-total {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #003399
}
.delivery-total-small {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #003399
}
.delivery-item-row {
	BACKGROUND-COLOR: #e5e5e5
}
.delivery-item-cell {
	PADDING-BOTTOM: 5px; VERTICAL-ALIGN: top; PADDING-TOP: 5px
}
.delivery-item-title {
	PADDING-BOTTOM: 5px; BORDER-BOTTOM: #CC0C0C 1px solid
}
.delivery-date-desc {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #000000
}
.typical-apr {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: #000000; LINE-HEIGHT: 25px
}


/* additional nav styles */
#nav, #nav ul {
   background: #fff;
	padding: 0;
	margin: 0;
	list-style: none;

}
#nav a {
	display: block;
	background: #fff;
	color: #6E6E6E;
    margin-left:1px;
	text-decoration: none;

} 
#nav li {
   background: #EEEEEE;
	float: left;
	padding-right: 1px;

}
#nav li ul li a{
     background: #EEEEEE;
     font-size:11px;
	 font-weight: bold;
     padding-left: 10px;
	 padding-top:3px;
	 display:block;
}
#nav li ul li a:hover{
     background: #dddddd;
	 font-weight:bold;
	 color:#000;
}
#nav li ul li{
border-bottom: 1px solid #ccc;
width:100%;
}
#nav li ul {
display:block;
background: #EEEEEE;
position: absolute;
width:137px;
left: -999em;

} 

#nav li:hover ul {
left: auto;
}
#nav li:hover ul, #nav li.sfhover ul {
left: auto; 
}


/*different dropdown styles */

.dropdown {
	display:block;
	position: absolute;
	width:137px;
	list-style:none;

	/*fix for navigation not working in FF */

	background: none;
	_background: #EEEEEE;
	margin-top: 2px;
}
 
.dropdown li a{
     background: #EEEEEE;
     font-size:11px;
	 font-weight: bold;
     padding-left: 10px;
	 padding-top:3px;
	 display:block;
}
.dropdown li a:hover{
     background: #dddddd;
	 font-weight:bold;
	 color:#000;
	 text-decoration: none;
}
.dropdown li{
border-bottom: 1px solid #ccc;
width:100%;
}

.wh-order-reserve-border{
	border-left:  solid 1px #cc0c0c;
	border-right: solid 1px #cc0c0c;
}
.wh-order-reserve-border-bottom{
	border-bottom:	1px solid #CC0C0C;
}
.searchnav { color: #cc3; font-size: 10px; font-weight: bold; }
.registernav a { color: #cc3; font-size: 10px; font-weight: bold; }
