body {
  margin: 2em;
  color: #222;
  font-family: sans-serif;
}
h1 {
  color: #222;
}
td.attribute {
  width: 5em;
  text-align: right;
  padding-right: 1em;
  color: #555;
}
div.mapContainer {
  float: left;
  width: 300px;
  height: 300px;
  border: 1px solid #000;
}
div.footer {
  clear: both;
  padding-top: 1em;
}
div.footer ul {
  margin-left: 0px;
}
div.footer ul li {
/*  display: inline;*/
  width: 25%;
  margin-left: 0px;
  
}