body {
  font-family: arial; sans-serif;
  font-size: 1.2em;
  margin: 0 25%;
}
h1 {
  color: #005A9C;
  text-align: center;
}
.notice {
  background-color: #FFFFCC;
  border: 1px solid #FFFF00;
  padding: 0.5em;
}