<h1>Editing resource</h1>

<%= error_messages_for :resource %>

<% form_for(:resource, :url => resource_path(@resource), :html => { :method => :put }) do |f| %>
  <p>
    <b>Url</b><br />
    <%= f.text_field :url %>
  </p>

  <p>
    <%= submit_tag "Update" %>
  </p>
<% end %>

<%= link_to 'Show', resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>