%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en"}

  %head
    %title Activeplaces sport facilities
    %meta{"http-equiv" => "content-type", :content => "text/html; charset=utf-8"}
  %body
    %h1 Activeplaces sport facilities

    %ul
      -@facility_types.each do |facility_type|
        %li
          %a{:href => "/?facility_type=#{facility_type.slug}"}= facility_type.name