RewriteEngine On
RewriteBase /

# RewriteRule .* http://foo?request_uri=%{REQUEST_URI}&the_request=%{THE_REQUEST}

# Permanently (301) redirect /<article>.html to /<article>, ensuring that we don't try to redirect index.html to index
RewriteCond %{THE_REQUEST} /articles/[0-9]{4}/[0-9]{2}/[0-9]{2}/.+\.html\ HTTP/
RewriteCond %{THE_REQUEST} !index\.html\ HTTP/
RewriteRule ^(.*)\.html$ $1 [R=301,L]

# If we receive a request for an article without a .html extension then let's rewrite internally to render the file with the .html extension
RewriteCond %{REQUEST_URI} /articles/[0-9]{4}/[0-9]{2}/[0-9]{2}/.+$
RewriteCond %{REQUEST_URI} !\.html$
RewriteRule ^(.*)$ $1.html [L]

# Permanently (301) redirect pages/<page>.html to pages/<page>, ensuring that we don't try to redirect index.html to index
RewriteCond %{THE_REQUEST} /pages/.+\.html\ HTTP/
RewriteCond %{THE_REQUEST} !index\.html\ HTTP/
RewriteRule ^(.*)\.html$ $1 [R=301,L]

# If we receive a request for an page without a .html extension then let's rewrite internally to render the file with the .html extension
RewriteCond %{REQUEST_URI} /pages/.+$
RewriteCond %{REQUEST_URI} !\.html$
RewriteRule ^(.*)$ $1.html [L]

# Permanently (301) redirect articles/tag/<tag>/page to articles/tag/<tag>
RewriteCond %{THE_REQUEST} /articles/tag/.+/page.*\ HTTP/
RewriteRule ^(.*)/page.*$ $1 [R=301,L]

# Permanently (301) redirect articles/tag/<tag>.html to articles/tag/<tag>, ensuring that we don't try to redirect index.html to index
RewriteCond %{THE_REQUEST} /articles/tag/.+\.html\ HTTP/
RewriteCond %{THE_REQUEST} !index\.html\ HTTP/
RewriteRule ^(.*)\.html$ $1 [R=301,L]

# If we receive a request for a tag without a .html extension then let's rewrite internally to render the file with the .html extension
RewriteCond %{REQUEST_URI} /articles/tag/.+$
RewriteCond %{REQUEST_URI} !\.html$
RewriteRule ^(.*)$ $1.html [L]

# /articles should redirect to /