<h1>Search results</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
  </tr>
  
<% for content in @contents %>
  <tr>
    <td><%=h content.title %></td>
    <td><%=h content.body %></td>
  </tr>
<% end %>
</table>