<VirtualHost *:80>

  ServerAdmin chris@seagul.co.uk
  ServerName apceastkent.co.uk
  ServerAlias www.apceastkent.co.uk
  
  DocumentRoot /home/chrisroos/www/apceastkent.co.uk
  <Directory /home/chrisroos/www/apceastkent.co.uk>
    allow from all
  </Directory>
  
  ErrorLog /home/chrisroos/www-logs/apceastkent.co.uk.error
  CustomLog /home/chrisroos/www-logs/apceastkent.co.uk.access common
  
  RewriteEngine On
  # Remove the www
  RewriteCond %{HTTP_HOST} ^www [NC]
  RewriteRule ^/(.*)$ http://apceastkent.co.uk/$1 [R=301,L]
  
</VirtualHost>