<VirtualHost *:80>
  ServerAdmin chris@seagul.co.uk
  ServerName blog.seagul.co.uk
  DocumentRoot /home/chrisroos/www/blog.seagul.co.uk/current/public
  <Directory /home/chrisroos/www/blog.seagul.co.uk/current/public>
    AllowOverride All
    allow from all
  </Directory>
  <DirectoryMatch "^/.*/\.svn/">
    ErrorDocument 403 /404.html
    Order allow,deny
    Deny from all
    Satisfy All
  </DirectoryMatch>
  ErrorLog /home/chrisroos/www/blog.seagul.co.uk/shared/log/error_log
  CustomLog /home/chrisroos/www/blog.seagul.co.uk/shared/log/access_log common
  # RewriteLogLevel 3
  RewriteLog /home/chrisroos/www/blog.seagul.co.uk/shared/log//rewrite_log
  
  RewriteEngine On
  
  # blog.seagul.co.uk -> chrisroos.co.uk
  RewriteCond %{HTTP_HOST} ^blog.seagul.co.uk$ [NC]
  RewriteRule ^/(.*)$ http://chrisroos.co.uk/$1 [R=301,L]
</VirtualHost>
