CUSTOMER_NUMBER = 'YOUR_CUSTOMER_NUMBER'
LAST_NAME = 'YOUR_SURNAME'
PIN = 'YOUR_PIN_NUMBER'
DATE_DAY = 'DAY_OF_MEMORABLE_DATE_IN_DD_FORMAT'
DATE_MONTH = 'MONTH_OF_MEMORABLE_DATE_IN_MM_FORMAT'
DATE_YEAR = 'YEAR_OF_MEMORABLE_DATE_IN_YY_FORMAT'