<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= h(article.html_title) %> - The Local Paper</title>
  </head>
  <body>
    <h1><%= h(article.title) %></h1>
    <dl>
      <dt>Paper</dt>
      <dd class="paper"><%= h(article.paper_name) %></dd>
      <dt>Published Date</dt>
      <dd class="publishedDate">
        <abbr title="<%= article.iso8601_published_date %>"><%= article.human_friendly_published_date %></abbr>
      </dd>
      <% if article.author %>
        <dt>Author</dt>
        <dd class="author"><%= h(article.author) %></dd>
      <% end %>
      <dt>Page</dt>
      <dd class="pageNumber"><%= h(article.page_number) %></dd>
      <% article.other_attributes.each do |key, value| %>
        <dt><%= h(key) %></dt>
        <dd><%= h(value) %></dd>
      <% end %>
    </dl>
    
    <div id="disqus_thread"></div>
    <script type="text/javascript" src="http://disqus.com/forums/the-local-paper/embed.js"></script>
    <noscript>
      <p><a href="http://the-local-paper.disqus.com/?url=ref">View the forum thread.</a></p>
    </noscript>
  </body>
</html>