<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Articles from the <%= h(paper.html_title) %> - The Local Paper</title>
  </head>
  <body>
    <h1>
      Articles from the <%= h(paper.title) %> on 
      <abbr class="publishedDate" title="<%= paper.iso8601_date %>">
        <%= paper.human_friendly_date %>
      </abbr>
    </h1>
    
    <dl>
      <dt>Published Date</dt>
      <dd class="publishedDate">
        <abbr title="<%= paper.iso8601_date %>"><%= paper.human_friendly_date %></abbr>
      </dd>
    </dl>
    <% paper.each_page_with_articles do |page_number, articles| %>
      <h2>Page <span class="pageNumber"><%= page_number %></span></h2>
      <ul class="articles">
        <% articles.each do |article| %>
          <li class="article">
            <a href="<%= article.url_friendly_title %>" rel="article">
              <%= h(article.title) %>
            </a>
          </li>
        <% end %>
      </ul>
    <% end %>
  </body>
</html>